<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Amatic+SC|Bad+Script|Caveat|Cinzel|EB+Garamond|Gloria+Hallelujah|Nothing+You+Could+Do|PT+Mono|Patrick+Hand|Philosopher|Press+Start+2P|Rancho|Shadows+Into+Light|Special+Elite|Cedarville+Cursive|Cinzel|Monoton|Permanent+Marker|Shadows+Into+Light")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.11.0/css/all.css")
    link(rel='stylesheet', href='/stylesheets/bulma.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    title Document
  body
    .container
      .player
        #songList
          //- p.font14.has-text-centered.bgAlice All Songs
          - if (songs)
            each val, i in songs
              - if (val.deleted){
              //- - console.log(val)
              div.card.font4.song(data-id=val.fileSlug data-name= val.title data-order= i)
                p.inline(data-id=val.fileSlug data-name=val.title)=val.title
                .flex(data-id=val.fileSlug)
                  //- i.hidden.fas.fa-pen.editIcon(data-id=val.fileSlug data-name=val.title title="edit title")
                  //- i.add_song.hidden.fas.fa-plus(data-id=val.fileSlug data-name=val.title title="add to playlist")
                  i.fas.hidden.fa-ban(data-id=val.fileSlug data-name=val.title title="delete song")
                  i.fas.hidden.fa-save(data-id=val.fileSlug data-name=val.title title="copy link to share this song")
                  span.playCount=`  ${val.plays} total plays`

              - }
        audio#audio-element(muted preload src="")
    script(src="/socket.io/socket.io.js")

    script( src="/javascripts/chat.js" )
    script( src="/javascripts/export.js" )


